body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: rgb(10, 23, 10);
  border-left: 1px solid rgb(28, 21, 21);
  padding: 10px;
}
.description {
  white-space: pre-wrap;
}

.time block {
  border-radius: 15px;
}
.row {
  border-top: 1px solid rgb(75, 53, 53);
}
.hour {
  background-color: #ffffff;
  color: blue;
  border-top: 1px dashed #000000;
}
.past {
  background-color: #d4cece;
  color: rgb(247, 245, 245);
}
.present {
  background-color: red;
  color: white;
}
.saveBtn {
  background-color: rgb(0, 145, 255);
  color: white;
}
